.our-products{
    padding: 4rem 7% 2rem 7%;
    background-color: #f2eade;
    background-image: url('/images/our-products-bg.avif');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.our-products-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-products-head h5{
    font-size: calc(2.3rem + 0.5vw);
    color: #000;
}
.our-products-head span{
    font-size: calc(1.1rem + 0.5vw);
    color: #000;
    font-family: "IvyOra", sans-serif !important;
}
.our-products-head p{
    font-size: calc(0.6rem + 0.5vw);
    color: #000;
    text-align: center;
    margin-top: 0.3rem;
}
.our-products-slider{
    position: relative;
}
.our-products .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}
.our-products .swiper-slide span{
    font-size: calc(1.1rem + 0.5vw);
    color: #8e2f2d;
    font-family: "IvyOra", sans-serif !important;
    display: block;
    margin-bottom: 1.8rem;
}
.our-products #product-slide-1 span{
    margin-bottom: 0;
}
.our-products .swiper-slide img{
    width: 50%;
    height: 400px;
    object-fit: contain;
}
.our-products #product-slide-1 img{
    height: 550px;
    scale: 1.1;
    margin-top: 1.5rem;
}
.our-products #product-slide-2 img,
.our-products #product-slide-3 img{
    scale: 0.88;
}

.our-products .slide-foot{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-products .slide-foot span{
    color: #000;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.our-products .slide-foot p{
    font-size: calc(0.6rem + 0.5vw);
    color: #000;
    text-align: center;
    width: 60%;
}

.our-products .swiper-button-next,
.our-products .swiper-button-prev{
  color: #fff;
  top: 52%;
  transform: translateY(-50%);
  scale: 0.9;
  position: absolute;
  z-index: 10;
  background-color: #928e88;
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.our-products .swiper-button-next:hover,
.our-products .swiper-button-prev:hover{
  background-color: #847d73;
}
.our-products .swiper-button-prev{
  left: 0.5rem;
}
.our-products .swiper-button-next{
  right: 0.5rem;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .our-products{
        padding: 3.5rem 7% 1.5rem 7%;
    }
    .our-products-head h5{
        font-size: calc(2.1rem + 0.5vw);
    }
    .our-products-head span{
        font-size: calc(1rem + 0.5vw);
    }
    .our-products-head p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.3rem;
    }
    .our-products .swiper-slide{
        padding-top: 1.9rem;
    }
    .our-products .swiper-slide span{
        font-size: calc(1rem + 0.5vw);
        margin-bottom: 1.5rem;
    }
    .our-products .swiper-slide img{
        height: 350px;
    }
    .our-products #product-slide-1 img{
        height: 500px;
        margin-top: 1.1rem;
    }

    .our-products .slide-foot span{
        margin-top: 1rem;
        margin-bottom: 0.9rem;
    }
    .our-products .slide-foot p{
        font-size: calc(0.55rem + 0.5vw);
    }

    .our-products .swiper-button-next,
    .our-products .swiper-button-prev{
        width: 42px;
        height: 42px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .our-products{
        padding: 3rem 7% 1rem 7%;
    }
    .our-products-head h5{
        font-size: calc(1.9rem + 0.5vw);
    }
    .our-products-head span{
        font-size: calc(0.9rem + 0.5vw);
    }
    .our-products-head p{
        font-size: calc(0.5rem + 0.5vw);
    }
    .our-products .swiper-slide{
        padding-top: 1.5rem;
    }
    .our-products .swiper-slide span{
        font-size: calc(0.9rem + 0.5vw);
        margin-bottom: 1.3rem;
    }
    .our-products .swiper-slide img{
        height: 310px;
    }
    .our-products #product-slide-1 img{
        height: 460px;
        margin-top: 0.3rem;
    }

    .our-products .slide-foot span{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .our-products .slide-foot p{
        font-size: calc(0.5rem + 0.5vw);
    }

    .our-products .swiper-button-next,
    .our-products .swiper-button-prev{
        width: 37px;
        height: 37px;
        padding: 8.5px;
    }
}
 