.our-products{
    padding: 4rem 7% 5rem 7%;
    background-color: #f4f8e1;
    overflow: hidden;
}
.our-products .search-box{
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    position: relative;
}
.our-products .search-box input{
    width: 100%;
    padding: 1rem 2rem 1rem 4rem;
    border: none;
    border-radius: 40px;
    outline: 3px solid #8e2f2d;
    font-size: calc(0.55rem + 0.5vw);
    font-weight: 600;
    color: #000;
    transition: all 0.15s ease;
}
.our-products .search-box input:focus{
    box-shadow: #8e2f2dbc 0px 2px 6px 0px, #8e2f2db1 0px 0px 0px 2px;
}
.our-products .search-box .search-icon{
    position: absolute;
    left: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: calc(1.5rem + 0.5vw);
    color: #8e2f2d;
}

.our-products .products-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.our-products .products-row .product-card{
    width: 31%;
    border-radius: 5px;
    padding: 2.7rem 2rem 2rem 2rem;
    background-color: #fdfff4;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.our-products .products-row .product-card img{
    width: 100%;
    scale: 1.2;
}
.our-products .products-row .product-card #price{
    font-family: "IvyOra", sans-serif !important;
    color: #862a28;
    font-size: calc(1.8rem + 0.5vw);
    display: block;
    margin-top: 0.5rem;
}
.our-products .products-row .product-card h2{
    font-size: calc(1.1rem + 0.5vw);
    color: #8e2f2d;
    margin-top: 0.5rem;
}
.our-products .products-row .product-card p{
    font-size: calc(0.45rem + 0.5vw);
    color: #000;
    margin-top: 0.6rem;
    margin-bottom: 0.7rem;
}
.our-products .products-row .product-card .btn-row{
    margin-top: 1rem;
    display: flex;
    gap: 0.8rem;
}
.our-products .products-row .product-card .btn-row button{
    border: 2px solid #8e2f2d;
    padding: 0.4rem 1rem;
    font-family: "IvyOra", sans-serif !important;
    font-size: calc(0.55rem + 0.5vw);
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    outline: none;
    transition: all 0.2s ease;
}
.our-products .products-row .product-card .btn-row a{
    text-decoration: none;
}
.our-products .products-row .product-card .btn-row #buy-now-btn{
    background-color: #8e2f2d;
    color: #fff;
}
.our-products .products-row .product-card .btn-row #buy-now-btn:hover{
    background-color: #761f1d;
}
.our-products .products-row .product-card .btn-row #add-cart-btn{
    background-color: #fff;
    color: #8e2f2d;
}
.our-products .products-row .product-card .btn-row #add-cart-btn:hover{
    background-color: #8e2f2d;
    color: #fff;
}
.our-products .products-row .product-card .btn-row .cart-icon{
    font-size: calc(0.6rem + 0.5vw);
}
.our-products .products-row .no-product-found{
    font-size: calc(0.6rem + 0.5vw);
    text-align: center;
    width: 100%;
    margin-top: 2.5rem;
}

.our-products .our-products-foot{
    margin-top: 5rem;
}
.our-products .our-products-foot p{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-family: "IvyOra", sans-serif !important;
    font-size: calc(0.6rem + 0.5vw);
    color: #8e2f2d;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .our-products{
        padding: 3.6rem 7% 4.5rem 7%;
    }
    .our-products .search-box input{
        padding: 0.9rem 1.9rem 0.9rem 3.9rem;
        font-size: calc(0.5rem + 0.5vw);
        outline: 2.5px solid #8e2f2d;
    }
    .our-products .search-box .search-icon{
        left: 1.1rem;
        font-size: calc(1.35rem + 0.5vw);
    }

    .our-products .products-row{
        margin-top: 3.8rem;
    }
    .our-products .products-row .product-card{
        padding: 2.5rem 1.8rem 1.8rem 1.8rem;
    }
    .our-products .products-row .product-card #price{
        font-size: calc(1.65rem + 0.5vw);
        margin-top: 0.4rem;
    }
    .our-products .products-row .product-card h2{
        font-size: calc(1rem + 0.5vw);
        margin-top: 0.4rem;
    }
    .our-products .products-row .product-card p{
        font-size: calc(0.4rem + 0.5vw);
        margin-top: 0.5rem;
        margin-bottom: 0.6rem;
    }
    .our-products .products-row .product-card .btn-row{
        margin-top: 0.9rem;
        gap: 0.7rem;
    }
    .our-products .products-row .product-card .btn-row button{
        padding: 0.35rem 1rem;
        font-size: calc(0.5rem + 0.5vw);
        gap: 0.45rem;
    }
    .our-products .products-row .product-card .btn-row .cart-icon{
        font-size: calc(0.55rem + 0.5vw);
    }
    .our-products .products-row .no-product-found{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 2.3rem;
    }

    .our-products .our-products-foot{
        margin-top: 4.5rem;
    }
    .our-products .our-products-foot p{
        font-size: calc(0.55rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .our-products{
        padding: 3rem 0 5rem 0;
    }
}

@media screen and (max-width: 768px) {
    .our-products{
        padding: 2rem 1rem 3rem 1rem;
    }
}