.our-products{
    padding: 3rem 0 0 0;
    background-color: #f5efe3;
    overflow: hidden;
}
.our-products-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-products-head h5{
    font-size: calc(2.3rem + 0.5vw);
    color: #000;
}
.our-products-head span{
    font-size: calc(1.1rem + 0.5vw);
    color: #000;
    font-family: "IvyOra", sans-serif !important;
}
.our-products-head p{
    font-size: calc(0.6rem + 0.5vw);
    color: #000;
    text-align: center;
    margin-top: 0.3rem;
}

.products-container{
    padding-top: 1.5rem;
}
.products-container .product-category{
    font-size: calc(1.3rem + 0.5vw);
    color: #8e2f2d;
    font-family: "IvyOra", sans-serif !important;
    display: block;
    font-weight: 700;
    text-align: center;
    border-bottom: 3.5px solid #8e2f2d;
    width: max-content;
    margin: 0 auto;
    z-index: 1;
}
.products-container #retail{
    padding-top: 2rem;
    margin-bottom: 1.5rem;
}
.products-container .product-box{
    padding: 0 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.products-container .product-box::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #f5efe37c;
    pointer-events: none;
    z-index: 0;
}
.products-container .product-box .product-title{
    font-size: calc(1rem + 0.5vw);
    color: #8e2f2d;
    font-family: "IvyOra", sans-serif !important;
    display: block;
    font-weight: 500;
    z-index: 1;
}
.products-container .product-box .product-sub-title{
    font-size: calc(0.8rem + 0.5vw);
    color: #000;
    font-family: "IvyOra", sans-serif !important;
    display: block;
    font-weight: 500;
    margin-top: 0.5rem;
    z-index: 1;
}
.products-container .product-box .product-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    z-index: 1;
}
.products-container #product-box-2 .product-image,
.products-container #product-box-3 .product-image{
    padding: 3rem 0;
}
.products-container .product-box .product-image img{
    width: 52%;
}
.products-container #product-box-1 .product-image img{
    width: 43%;
}
.products-container .product-image .content-box{
    position: absolute;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.products-container .product-image .content-box img{
    width: 70px !important;
}
.products-container .product-image .content-box p{
    margin: 0;
    font-size: calc(0.6rem + 0.5vw);
    color: #000;
    font-family: "IvyOra", sans-serif !important;
    font-weight: 500;
}
.products-container .product-image .left-content-box p{
    text-align: end;
}
.products-container .product-image .left-content-box{
    left: -6rem;
    margin-top: 5rem;
    align-items: end;
}
.products-container .product-image .right-content-box{
    right: -6rem;
    top: 5rem;
    align-items: start;
}
.products-container .product-image .right-content-box img{
    transform: rotate(180deg);
}
.products-container #product-box-1 .left-content-box{
    left: -1rem;
}
.products-container #product-box-1 .right-content-box{
    right: -1rem;
}

.products-container .product-box .box-foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.products-container .product-box .box-foot span{
    font-size: calc(1rem + 0.5vw);
    color: #000;
    font-family: "IvyOra", sans-serif !important;
    display: block;
    font-weight: 500;
}
.products-container .product-box .box-foot p{
    font-size: calc(0.6rem + 0.5vw);
    color: #000;
    font-weight: 500;
    text-align: center;
    width: 55%;
    margin-top: 1rem;
}

.products-container #product-box-1{
    background-image: url("/images/our-products-bg/1.avif");
}
.products-container #product-box-2{
    background-image: url("/images/our-products-bg/2.avif");
}
.products-container #product-box-3{
    background-image: url("/images/our-products-bg/3.avif");
}
.products-container #product-box-4{
    background-image: url("/images/our-products-bg/4.avif");
    padding-bottom: 4rem;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .our-products{
        padding: 2.5rem 0 0 0;
    }
    .our-products-head h5{
        font-size: calc(2.1rem + 0.5vw);
    }
    .our-products-head span{
        font-size: calc(1rem + 0.5vw);
    }
    .our-products-head p{
        font-size: calc(0.55rem + 0.5vw);
    }

    .products-container{
        padding-top: 1.3rem;
    }
    .products-container .product-category{
        font-size: calc(1.2rem + 0.5vw);
        border-bottom: 3px solid #8e2f2d;
    }
    .products-container #retail{
        padding-top: 0.5rem;
        margin-bottom: 1.3rem;
    }
    .products-container .product-box{
        padding-top: 1.9rem;
    }
    .products-container .product-box .product-title{
        font-size: calc(0.9rem + 0.5vw);
    }
    .products-container .product-box .product-sub-title{
        font-size: calc(0.7rem + 0.5vw);
        margin-top: 0.4rem;
    }
    .products-container .product-box .product-image{
        padding: 1.8rem 0;
    }
    .products-container #product-box-2 .product-image,
    .products-container #product-box-3 .product-image{
        padding: 2.8rem 0;
    }
    .products-container .product-image .content-box{
        gap: 0.45rem;
    }
    .products-container .product-image .content-box img{
        width: 65px !important;
    }
    .products-container .product-image .content-box p{
        font-size: calc(0.55rem + 0.5vw);
    }
    .products-container .product-image .left-content-box{
        left: -6rem;
        margin-top: 5rem;
    }
    .products-container #product-box-1 .left-content-box{
        left: -1.5rem;
    }
    .products-container #product-box-1 .right-content-box{
        right: -1.5rem;
    }

    .products-container .product-box .box-foot span{
        font-size: calc(0.9rem + 0.5vw);
    }
    .products-container .product-box .box-foot p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.8rem;
    }

    .products-container #product-box-4{
        padding-bottom: 3.5rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .our-products{
        padding: 2rem 0 0 0;
    }
    .our-products-head h5{
        font-size: calc(1.9rem + 0.5vw);
    }
    .our-products-head span{
        font-size: calc(0.9rem + 0.5vw);
    }
    .our-products-head p{
        font-size: calc(0.5rem + 0.5vw);
    }

    .products-container{
        padding-top: 1rem;
    }
    .products-container .product-category{
        font-size: calc(1.1rem + 0.5vw);
        border-bottom: 2.7px solid #8e2f2d;
    }
    .products-container #retail{
        padding-top: 0;
        margin-bottom: 1.2rem;
    }
    .products-container .product-box{
        padding-top: 1.7rem;
    }
    .products-container .product-box .product-title{
        font-size: calc(0.8rem + 0.5vw);
    }
    .products-container .product-box .product-sub-title{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.3rem;
    }
    .products-container .product-box .product-image{
        padding: 1.6rem 0;
    }
    .products-container #product-box-2 .product-image,
    .products-container #product-box-3 .product-image{
        padding: 2.6rem 0;
    }
    .products-container .product-box .product-image img{
        width: 45%;
    }
    .products-container #product-box-1 .product-image img{
        width: 40%;
    }
    .products-container .product-image .content-box{
        gap: 0.4rem;
        width: 27%;
    }
    .products-container .product-image .content-box img{
        width: 57px !important;
    }
    .products-container .product-image .content-box p{
        font-size: calc(0.5rem + 0.5vw);
    }
    .products-container .product-image .left-content-box{
        left: -3rem;
        margin-top: 4.5rem;
    }
    .products-container .product-image .right-content-box{
        right: -3rem;
    }
    .products-container #product-box-1 .left-content-box{
        left: 1rem;
    }
    .products-container #product-box-1 .right-content-box{
        right: 1rem;
    }

    .products-container .product-box .box-foot span{
        font-size: calc(0.8rem + 0.5vw);
    }
    .products-container .product-box .box-foot p{
        font-size: calc(0.5rem + 0.5vw);
        margin-top: 0.5rem;
    }

    .products-container #product-box-4{
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .our-products{
        padding: 1rem 1rem 0 1rem;
    }
    .our-products-head h5{
        font-size: calc(1.6rem + 0.5vw);
    }
    .our-products-head span{
        font-size: calc(1.1rem + 0.5vw);
    }
    .our-products-head p{
        font-size: calc(0.8rem + 0.5vw);
        margin-top: 0.5rem;
    }
    .our-products-head p br{
        display: none;
    }

    .products-container{
        padding-top: 1rem;
    }
    .products-container .product-category{
        font-size: calc(1.2rem + 0.5vw);
        border-bottom: 3px solid #8e2f2d;
    }
    .products-container #retail{
        padding-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
    .products-container .product-box{
        padding: 0;
        padding-top: 1.5rem;
    }
    .products-container .product-box .product-title{
        font-size: calc(1rem + 0.5vw);
    }
    .products-container .product-box .product-sub-title{
        font-size: calc(0.9rem + 0.5vw);
    }
    .products-container .product-box .product-image{
        padding: 1.5rem 0;
        flex-wrap: wrap;
    }
    .products-container #product-box-2 .product-image,
    .products-container #product-box-3 .product-image{
        padding: 2rem 0;
    }
    .products-container .product-box .product-image img{
        width: 70%;
        margin-bottom: 1.5rem;
    }
    .products-container #product-box-1 .product-image{
        padding: 1.3rem 0 1.5rem 0;
    }
    .products-container #product-box-1 .product-image img{
        width: 76%;
    }
    .products-container .product-image .content-box{
        position: relative;
        width: 100%;
        align-items: center;
    }
    .products-container .product-image .content-box img{
        display: none;
    }
    .products-container .product-image .content-box p{
        font-size: calc(0.9rem + 0.5vw);
        text-align: center;
    }
    .products-container .product-image .left-content-box p{
        text-align: center;
    }
    .products-container .product-image .left-content-box{
        left: 0;
        margin-top: 0;
        align-items: center;
    }
    .products-container .product-image .right-content-box{
        left: 0;
        top: 0;
    }
    .products-container #product-box-1 .left-content-box{
        left: 0;
    }
    .products-container #product-box-1 .right-content-box{
        left: 0;
    }

    .products-container .product-box .box-foot span{
        font-size: calc(1rem + 0.5vw);
    }
    .products-container .product-box .box-foot p{
        font-size: calc(0.9rem + 0.5vw);
        width: 100%;
        margin-top: 0.5rem;
    }

    .products-container #product-box-4{
        padding-bottom: 3rem;
    }
}
 