.our-products{
    padding: 4rem 0 0 0;
    background-color: #f5efe3;
    overflow: hidden;
}
.our-products-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-products-head h5{
    font-size: calc(2.3rem + 0.5vw);
    color: #000;
}
.our-products-head span{
    font-size: calc(1.1rem + 0.5vw);
    color: #000;
    font-family: "IvyOra", sans-serif !important;
}
.our-products-head p{
    font-size: calc(0.6rem + 0.5vw);
    color: #000;
    text-align: center;
    margin-top: 0.3rem;
}

.products-container{
    padding-top: 1.5rem;
}
.products-container .product-category{
    font-size: calc(1.3rem + 0.5vw);
    color: #8e2f2d;
    font-family: "IvyOra", sans-serif !important;
    display: block;
    font-weight: 700;
    text-align: center;
    border-bottom: 3.5px solid #8e2f2d;
    width: max-content;
    margin: 0 auto;
    z-index: 1;
}
.products-container #retail{
    padding-top: 2rem;
    margin-bottom: 1.5rem;
}
.products-container .product-box{
    padding: 0 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.products-container .product-box::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #f5efe37c;
    pointer-events: none;
    z-index: 0;
}
.products-container .product-box .product-title{
    font-size: calc(1rem + 0.5vw);
    color: #8e2f2d;
    font-family: "IvyOra", sans-serif !important;
    display: block;
    font-weight: 500;
    z-index: 1;
}
.products-container .product-box .product-sub-title{
    font-size: calc(0.8rem + 0.5vw);
    color: #000;
    font-family: "IvyOra", sans-serif !important;
    display: block;
    font-weight: 500;
    margin-top: 0.5rem;
    z-index: 1;
}
.products-container .product-box .product-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    z-index: 1;
}
.products-container .product-box .product-image img{
    width: 52%;
}
.products-container #product-box-1 .product-image img{
    width: 43%;
}
.products-container .product-box .box-foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.products-container .product-box .box-foot span{
    font-size: calc(1rem + 0.5vw);
    color: #000;
    font-family: "IvyOra", sans-serif !important;
    display: block;
    font-weight: 500;
}
.products-container .product-box .box-foot p{
    font-size: calc(0.6rem + 0.5vw);
    color: #000;
    font-weight: 500;
    text-align: center;
    width: 55%;
    margin-top: 1rem;
}

.products-container #product-box-1{
    background-image: url("/images/our-products-bg/1.avif");
}
.products-container #product-box-2{
    background-image: url("/images/our-products-bg/2.avif");
}
.products-container #product-box-3{
    background-image: url("/images/our-products-bg/3.avif");
}
.products-container #product-box-4{
    background-image: url("/images/our-products-bg/4.avif");
    padding-bottom: 4rem;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    
}
 