.our-products{
    padding: 4rem 7% 6rem 7%;
    background-color: #f4f8e1;
    overflow: hidden;
}
.our-products .search-box{
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    position: relative;
}
.our-products .search-box input{
    width: 100%;
    padding: 1rem 2rem 1rem 4rem;
    border: none;
    border-radius: 40px;
    outline: 3px solid #8e2f2d;
    font-size: calc(0.55rem + 0.5vw);
    font-weight: 600;
    color: #000;
    transition: all 0.15s ease;
}
.our-products .search-box input:focus{
    box-shadow: #8e2f2dbc 0px 2px 6px 0px, #8e2f2db1 0px 0px 0px 2px;
}
.our-products .search-box .search-icon{
    position: absolute;
    left: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: calc(1.5rem + 0.5vw);
    color: #8e2f2d;
}

.our-products .products-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.our-products .products-row .product-card{
    width: 31%;
    border-radius: 5px;
    padding: 2.7rem 2rem 2rem 2rem;
    background-color: #fdfff4;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.our-products .products-row .product-card img{
    width: 100%;
    scale: 1.2;
}
.our-products .products-row .product-card #price{
    font-family: "IvyOra", sans-serif !important;
    color: #862a28;
    font-size: calc(1.8rem + 0.5vw);
    display: block;
    margin-top: 0.5rem;
}
.our-products .products-row .product-card h2{
    font-size: calc(1.1rem + 0.5vw);
    color: #8e2f2d;
    margin-top: 0.5rem;
}
.our-products .products-row .product-card p{
    font-size: calc(0.45rem + 0.5vw);
    color: #000;
    margin-top: 0.6rem;
    margin-bottom: 0.7rem;
}
.our-products .products-row .product-card .btn-row{
    margin-top: 1rem;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .our-products{
        padding: 3.5rem 0 5.5rem 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .our-products{
        padding: 3rem 0 5rem 0;
    }
}

@media screen and (max-width: 768px) {
    .our-products{
        padding: 2rem 1rem 3rem 1rem;
    }
}