.our-products{
    padding: 2rem 0 0 0;
    background-color: #f4f8e1;
    overflow: hidden;
    background-image: url('/images/our-products-bg.avif');
    background-size: cover;
    background-repeat: no-repeat;
}
.our-products-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-products-head h5{
    font-size: calc(2.3rem + 0.5vw);
    color: #8e2f2d;
}
.our-products-head span{
    font-size: calc(1.1rem + 0.5vw);
    color: #002c5b;
    font-family: "IvyOra", sans-serif !important;
}
.our-products-head p{
    font-size: calc(0.6rem + 0.5vw);
    color: #000;
    text-align: center;
    margin-top: 0.3rem;
}

.products-slider{
    overflow: hidden;
    position: relative;
}
.products-slider .swiper-slide{
    margin-top: 1rem;
    padding-bottom: 2rem;
}
.products-slider .swiper-slide .product-category{
    display: block;
    text-align: center;
    color: #8e2f2d;
    font-size: calc(1.5rem + 0.5vw);
    font-weight: 700;
    font-family: "IvyOra", sans-serif !important;
    margin-bottom: 0.2rem;
}
.products-slider .swiper-slide .line{
    background-color: #8e2f2d;
    width: 35px;
    height: 3px;
    border-radius: 20px;
    margin: 0 auto;
}
.products-slider .swiper-slide .product-title{
    color: #8e2f2d;
    text-align: center;
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 500;
    font-family: "IvyOra", sans-serif !important;
    display: block;
    margin-top: 1.2rem;
}
.products-slider .swiper-slide .product-sub-title{
    color: #002c5b;
    text-align: center;
    font-size: calc(1rem + 0.5vw);
    font-weight: 500;
    font-family: "IvyOra", sans-serif !important;
    margin-top: 0.2rem;
}

.products-slider .swiper-slide .cup-boxes{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.products-slider .swiper-slide .left-cup-content{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 0.5rem;
}
.products-slider .swiper-slide .left-cup-content img{
    width: 70px;
    margin-top: 3rem;
}
.products-slider .swiper-slide .right-cup-content{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.products-slider .swiper-slide .right-cup-content img{
    width: 70px;
    transform: rotate(180deg);
}
.products-slider .swiper-slide .cup-boxes p{
    margin: 0;
    font-size: calc(0.55rem + 0.5vw);
    color: #000;
    font-weight: 500;
    font-family: "IvyOra", sans-serif !important;
}
.products-slider .swiper-slide .left-cup-content p{
    text-align: right;
}
.products-slider .swiper-slide .right-cup-content p{
    margin-top: 3rem;
}
.products-slider .swiper-slide .cup-image{
    width: 23%;
}
.products-slider .swiper-slide .cup-image img{
    width: 100%;
}
.products-slider #slide-1 .cup-image img{
    scale: 1.11;
}

.products-slider .swiper-slide .container-boxes{
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-slider .swiper-slide .container-boxes img{
    width: 40%;
}
.products-slider .swiper-slide .container-boxes span{
    color: #002c5b;
    text-align: center;
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 500;
    font-family: "IvyOra", sans-serif !important;
    display: block;
    margin-top: 0.5rem;
}
.products-slider .swiper-slide .container-boxes p{
    font-size: calc(0.6rem + 0.5vw);
    color: #000;
    text-align: center;
    margin-top: 0.8rem;
    width: 50%;
}
.products-slider .swiper-slide .container-boxes .container-box-desc{
    color: #002c5b;
    text-align: center;
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 500;
    font-family: "IvyOra", sans-serif !important;
    line-height: normal;
    margin-top: 0;
}
.products-slider .swiper-slide .container-boxes .container-box-desc span{
    color: #c08531;
    display: inline-block;
}
.products-slider .swiper-slide .container-boxes button{
    color: #fff;
    background-color: #8e2f2d;
    border: none;
    border-radius: 30px;
    padding: 0.7rem 2.5rem;
    font-size: calc(0.7rem + 0.5vw);
    font-family: "IvyOra", sans-serif !important;
    margin-top: 1rem;
    transition: all 0.2s ease;
}
.products-slider .swiper-slide .container-boxes button:hover{
    background-color: #7a1f1e;
}
.products-slider .swiper-slide .container-boxes button:active{
    scale: 0.95;
}

.products-slider .swiper-button-next,
.products-slider .swiper-button-prev{
    color: #7c7c7c;
    top: 37% !important;
    transform: translateY(-50%);
    scale: 0.7;
    position: absolute;
    z-index: 10;
}
.products-slider .swiper-button-next:hover,
.products-slider .swiper-button-prev:hover{
    color: #3d3d3d;
}
.products-slider .swiper-button-prev{
    left: 2rem !important;
}
.products-slider .swiper-button-next{
    right: 2rem !important;
}