.product-gallery{
    padding: 4rem 7% 5rem 7%;
    background-color: #f4f8e1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.product-gallery .gallery-images{
    width: 47%;
    z-index: 10;
}
.product-gallery .gallery-images .gallery-main{
    background-color: #f8faec;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
}
.product-gallery .gallery-images .gallery-main img{
    width: 100%;
}
.product-gallery .gallery-images .gallery-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.product-gallery .gallery-images .gallery-bottom .bottom-box{
    width: 23%;
    background-color: #f8faec;
    padding: 0.5rem;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    cursor: pointer;
}
.product-gallery .gallery-images .gallery-bottom .bottom-box img{
    width: 100%;
}
.product-gallery .gallery-content{
    width: 47%;
    z-index: 10;
}
.product-gallery .gallery-content h1{
    font-size: calc(1.7rem + 0.5vw);
    color: #8e2f2d;
    margin-bottom: 1rem;
}
.product-gallery .gallery-content p{
    font-size: calc(0.6rem + 0.5vw);
    color: #000;
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
}
.product-gallery .gallery-content #price{
    font-family: "IvyOra", sans-serif !important;
    color: #862a28;
    font-size: calc(3.2rem + 0.5vw);
    display: block;
}
.product-gallery .gallery-content #select-qnty-lebel{
    color: #862a28;
    font-size: calc(0.6rem + 0.5vw);
    margin-top: 0.3rem;
    font-family: "IvyOra", sans-serif !important;
}
.product-gallery .gallery-content .quantity-btns{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}
.product-gallery .gallery-content .quantity-btns button{
    background-color: transparent;
    color: #862a28;
    font-size: calc(0.65rem + 0.5vw);
    font-family: "IvyOra", sans-serif !important;
    border-radius: 40px;
    padding: 0.3rem 1.5rem;
    border: 2px solid #862a28;
    cursor: pointer;
}
.product-gallery .gallery-content .quantity-btns button.active{
    background-color: #862a28;
    color: #fff;
}
.product-gallery .gallery-content .quantity-count-outer{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.product-gallery .gallery-content .quantity-count-outer .quantity-count{
    border: 2px solid #862a28;
    border-radius: 40px;
    padding: 0.3rem 1rem;
    display: flex;
    align-items: center;
    gap: 1.3rem;
}
.product-gallery .gallery-content .quantity-count-outer .quantity-count button{
    font-size: calc(0.5rem + 0.5vw);
    background: transparent;
    border: none;
    color: #000;
}
.product-gallery .gallery-content .quantity-count-outer .quantity-count span{
    color: #862a28;
    font-size: calc(0.65rem + 0.5vw);
    font-family: "IvyOra", sans-serif !important;
}
.product-gallery .gallery-content .quantity-count-outer .quantity-price{
    border: 2px solid #862a28;
    border-radius: 40px;
    padding: 0.3rem 1.5rem;
    color: #862a28;
    font-size: calc(0.65rem + 0.5vw);
    font-family: "IvyOra", sans-serif !important;
}
.product-gallery .gallery-content .action-btns{
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
}
.product-gallery .gallery-content .action-btns button{
    border: 2px solid #862a28;
    border-radius: 40px;
    padding: 0.4rem 2rem;
    font-size: calc(1.1rem + 0.5vw);
    font-family: "IvyOra", sans-serif !important;
    transition: all 0.1s ease;
}
.product-gallery .gallery-content .action-btns button:first-child{
    color: #862a28;
    background: transparent;
}
.product-gallery .gallery-content .action-btns button:first-child:hover{
    color: #fff;
    background: #862a28;
}
.product-gallery .gallery-content .action-btns button:last-child{
    color: #fff;
    background: #862a28;
}
.product-gallery .gallery-content .action-btns button:last-child:hover{
    background: #761f1d;
}

.product-gallery #product-element-1{
    position: absolute;
    right: 0;
    width: 300px;
    top: 10rem;
    z-index: 0;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .product-gallery{
        padding: 3.7rem 7% 4.5rem 7%;
    }
    .product-gallery .gallery-images .gallery-main{
        border-radius: 2.5px;
    }
    .product-gallery .gallery-images .gallery-bottom{
        margin-top: 0.9rem;
    }
    .product-gallery .gallery-images .gallery-bottom .bottom-box{
        padding: 0.4rem;
        border-radius: 2.5px;
    }
    .product-gallery .gallery-content h1{
        font-size: calc(1.55rem + 0.5vw);
        margin-bottom: 0.9rem;
    }
    .product-gallery .gallery-content p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.7rem;
        margin-bottom: 1.4rem;
    }
    .product-gallery .gallery-content #price{
        font-size: calc(2.95rem + 0.5vw);
    }
    .product-gallery .gallery-content #select-qnty-lebel{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.2rem;
    }
    .product-gallery .gallery-content .quantity-btns{
        margin-top: 0.9rem;
        gap: 0.9rem;
    }
    .product-gallery .gallery-content .quantity-btns button{
        font-size: calc(0.6rem + 0.5vw);
        padding: 0.25rem 1.4rem;
    }
    .product-gallery .gallery-content .quantity-count-outer{
        gap: 0.9rem;
        margin-top: 1.9rem;
    }
    .product-gallery .gallery-content .quantity-count-outer .quantity-count{
        padding: 0.25rem 0.9rem;
        gap: 1.2rem;
    }
    .product-gallery .gallery-content .quantity-count-outer .quantity-count button{
        font-size: calc(0.45rem + 0.5vw);
    }
    .product-gallery .gallery-content .quantity-count-outer .quantity-count span{
        font-size: calc(0.6rem + 0.5vw);
    }
    .product-gallery .gallery-content .quantity-count-outer .quantity-price{
        padding: 0.25rem 1.4rem;
        font-size: calc(0.6rem + 0.5vw);
    }
    .product-gallery .gallery-content .action-btns{
        margin-top: 2.8rem;
        gap: 0.9rem;
    }
    .product-gallery .gallery-content .action-btns button{
        padding: 0.37rem 1.9rem;
        font-size: calc(1rem + 0.5vw);
    }

    .product-gallery #product-element-1{
        width: 260px;
        top: 9rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .product-gallery{
        padding: 3.2rem 7% 4rem 7%;
    }
    .product-gallery .gallery-images .gallery-main{
        border-radius: 2px;
    }
    .product-gallery .gallery-images .gallery-bottom{
        margin-top: 0.8rem;
    }
    .product-gallery .gallery-images .gallery-bottom .bottom-box{
        padding: 0.3rem;
        border-radius: 2px;
    }
    .product-gallery .gallery-content h1{
        font-size: calc(1.4rem + 0.5vw);
        margin-bottom: 0.8rem;
    }
    .product-gallery .gallery-content p{
        font-size: calc(0.5rem + 0.5vw);
        margin-top: 0.6rem;
        margin-bottom: 1.2rem;
    }
    .product-gallery .gallery-content #price{
        font-size: calc(2.6rem + 0.5vw);
    }
    .product-gallery .gallery-content #select-qnty-lebel{
        font-size: calc(0.5rem + 0.5vw);
        margin-top: 0.25rem;
    }
    .product-gallery .gallery-content .quantity-btns{
        margin-top: 0.8rem;
        gap: 0.8rem;
    }
    .product-gallery .gallery-content .quantity-btns button{
        font-size: calc(0.55rem + 0.5vw);
        padding: 0.2rem 1.3rem;
        border: 1.5px solid #862a28;
    }
    .product-gallery .gallery-content .quantity-count-outer{
        gap: 0.8rem;
        margin-top: 1.8rem;
    }
    .product-gallery .gallery-content .quantity-count-outer .quantity-count{
        padding: 0.2rem 0.8rem;
        gap: 1.1rem;
        border: 1.5px solid #862a28;
    }
    .product-gallery .gallery-content .quantity-count-outer .quantity-count button{
        font-size: calc(0.4rem + 0.5vw);
    }
    .product-gallery .gallery-content .quantity-count-outer .quantity-count span{
        font-size: calc(0.55rem + 0.5vw);
    }
    .product-gallery .gallery-content .quantity-count-outer .quantity-price{
        padding: 0.2rem 1.3rem;
        font-size: calc(0.55rem + 0.5vw);
        border: 1.5px solid #862a28;
    }
    .product-gallery .gallery-content .action-btns{
        margin-top: 2.6rem;
        gap: 0.8rem;
    }
    .product-gallery .gallery-content .action-btns button{
        padding: 0.33rem 1.8rem;
        font-size: calc(0.9rem + 0.5vw);
        border: 1.5px solid #862a28;
    }

    .product-gallery #product-element-1{
        width: 220px;
        top: 8rem;
    }
}

@media screen and (max-width: 768px) {
    .product-gallery{
        padding: 2rem 1rem 3rem 1rem;
    }
    .product-gallery .gallery-images{
        width: 100%;
    }
    .product-gallery .gallery-images .gallery-main{
        border-radius: 2px;
    }
    .product-gallery .gallery-images .gallery-bottom{
        margin-top: 0.8rem;
    }
    .product-gallery .gallery-images .gallery-bottom .bottom-box{
        padding: 0.3rem;
        border-radius: 2px;
        width: 22.07%;
    }
    .product-gallery .gallery-content{
        width: 100%;
        margin-top: 1.5rem;
    }
    .product-gallery .gallery-content h1{
        font-size: calc(1.3rem + 0.5vw);
        margin-bottom: 0.5rem;
    }
    .product-gallery .gallery-content p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.55rem;
        margin-bottom: 0.5rem;
    }
    .product-gallery .gallery-content #price{
        font-size: calc(2.5rem + 0.5vw);
    }
    .product-gallery .gallery-content #select-qnty-lebel{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.5rem;
    }
    .product-gallery .gallery-content .quantity-btns{
        margin-top: 1rem;
        gap: 1rem;
    }
    .product-gallery .gallery-content .quantity-btns button{
        font-size: calc(1rem + 0.5vw);
        padding: 0.2rem 1.5rem;
        border: 2px solid #862a28;
    }
    .product-gallery .gallery-content .quantity-count-outer{
        gap: 1rem;
        margin-top: 2rem;
    }
    .product-gallery .gallery-content .quantity-count-outer .quantity-count{
        padding: 0.2rem 1.2rem;
        gap: 1.5rem;
        border: 2px solid #862a28;
    }
    .product-gallery .gallery-content .quantity-count-outer .quantity-count button{
        font-size: calc(0.9rem + 0.5vw);
    }
    .product-gallery .gallery-content .quantity-count-outer .quantity-count span{
        font-size: calc(1rem + 0.5vw);
    }
    .product-gallery .gallery-content .quantity-count-outer .quantity-price{
        padding: 0.2rem 1.5rem;
        font-size: calc(1rem + 0.5vw);
        border: 2px solid #862a28;
    }
    .product-gallery .gallery-content .action-btns{
        margin-top: 3rem;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .product-gallery .gallery-content .action-btns button{
        width: 100%;
        padding: 0.35rem 1rem;
        font-size: calc(1.3rem + 0.5vw);
        border: 2px solid #862a28;
    }

    .product-gallery #product-element-1{
        width: 250px;
        top: 13rem;
    }
}