#rating-num{
    color: #8e2f2d;
    font-weight: 700;
    font-size: calc(0.65rem + 0.5vw);
    font-family: "IvyOra", sans-serif !important;
    margin-right: 0.5rem;
}
#rating-stars{
    color: #000;
    font-size: calc(0.7rem + 0.5vw);
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    #rating-num{
        font-size: calc(0.6rem + 0.5vw);
    }
    #rating-stars{
        font-size: calc(0.65rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    #rating-num{
        font-size: calc(0.55rem + 0.5vw);
    }
    #rating-stars{
        font-size: calc(0.6rem + 0.5vw);
    }
}

@media screen and (max-width: 768px) {
    #rating-num{
        font-size: calc(0.9rem + 0.5vw);
    }
    #rating-stars{
        font-size: calc(1rem + 0.5vw);
    }
}