.art-of-brewing{
    padding: 4rem 7% 3rem 7%;
    background-color: #f4f8e1;
    position: relative;
    background-image: url('/images/art-of-brewing-bg.avif');
    background-size: cover;
    background-repeat: no-repeat;
}
.art-of-brewing #leaf-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
}
.art-of-brewing #leaf-left{
    position: absolute;
    top: 25rem;
    left: -2rem;
    width: 170px;
    transform: rotateY(180deg);
}
.art-of-brewing .art-of-brewing-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.art-of-brewing .art-of-brewing-head h6{
    font-size: calc(2.3rem + 0.5vw);
    color: #8e2f2d;
    text-align: center;
}
.art-of-brewing .art-of-brewing-head p{
    font-size: calc(0.8rem + 0.5vw);
    color: #002c5b;
    margin-top: 2rem;
    line-height: 1.6;
    width: 65%;
    text-align: center;
    font-family: "IvyOra", sans-serif !important;
}

.brew-tabbing{
    margin-top: 2rem;
}
.brew-tabbing .tab-head{
    display: flex;
    justify-content: center;
    gap: 4rem;
    border: none;
}
.brew-tabbing .nav-item{
    background: transparent;
}
.brew-tabbing .nav-link{
    color: #8e2f2d;
    border: none;
    font-size: calc(1.5rem + 0.5vw);
    font-family: "IvyOra", sans-serif !important;
    position: relative;
}
.brew-tabbing .nav-item .nav-link.active{
    color: #8e2f2d;
    background: transparent;
}
.brew-tabbing .nav-item .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2.5px;
    background-color: #8e2f2d;
}
.brew-tabbing .tab-content {
    margin-top: 5rem;
    position: relative;
    overflow: hidden;
}

.brew-timeline .curvy-line{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
}
.brew-timeline .curvy-line img{
    margin-left: 5rem;
    margin-top: 2rem;
    width: 8.5%;
}

.timeline-content .box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}
.timeline-content .box:nth-child(even){
    flex-direction: row-reverse;
    text-align: right;
}
.timeline-content .box img{
    width: 100px;
    z-index: 1;
    position: relative;
}
.timeline-content .box .box-content{
    width: 50%;
}
#cold-timeline-content .box .box-content{
    width: 55%;
}
.timeline-content .box span{
    font-size: calc(1.3rem + 0.5vw);
    font-family: "IvyOra", sans-serif !important;
    color: #000;
    white-space: nowrap;
}
.timeline-content .box p{
    font-size: calc(0.6rem + 0.5vw);
    color: #000;
    margin-top: 0.7rem;
}

/* Hot */
.timeline-content #hot-box-1{
    margin-left: 37%;
}
.timeline-content #hot-box-2{
    margin-right: 26%;
}
.timeline-content #hot-box-3{
    margin-left: 37.3%;
}
.timeline-content #hot-box-4{
    margin-right: 36.3%;
}
.timeline-content #hot-box-5{
    margin-left: 38%;
}
.timeline-content #hot-box-6{
    margin-right: 30%;
}

/* Cold */
.timeline-content #cold-box-1{
    margin-left: 39%;
}
.timeline-content #cold-box-2{
    margin-right: 29%;
}
.timeline-content #cold-box-3{
    margin-left: 37%;
}
.timeline-content #cold-box-4{
    margin-right: 36.5%;
}
.timeline-content #cold-box-5{
    margin-left: 42%;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .art-of-brewing{
        padding: 3.5rem 7% 2.5rem 7%;
    }
    .art-of-brewing #leaf-right{
        width: 180px;
    }
    .art-of-brewing #leaf-left{
        top: 24.5rem;
        left: -1.5rem;
        width: 150px;
    }
    .art-of-brewing .art-of-brewing-head h6{
        font-size: calc(2.1rem + 0.5vw);
    }
    .art-of-brewing .art-of-brewing-head p{
        font-size: calc(0.75rem + 0.5vw);
        margin-top: 1.8rem;
    }

    .brew-tabbing{
        margin-top: 1.8rem;
    }
    .brew-tabbing .tab-head{
        gap: 3.8rem;
    }
    .brew-tabbing .nav-link{
        font-size: calc(1.3rem + 0.5vw);
    }
    .brew-tabbing .nav-item .nav-link.active::after {
        height: 2px;
    }
    .brew-tabbing .tab-content {
        margin-top: 4.5rem;
    }

    .brew-timeline .curvy-line img{
        margin-left: 5rem;
        margin-top: 2.3rem;
    }

    .timeline-content .box{
        gap: 1.8rem;
        margin-bottom: 4.4rem;
    }
    .timeline-content .box img{
        width: 90px;
    }
    .timeline-content .box span{
        font-size: calc(1.2rem + 0.5vw);
    }
    .timeline-content .box p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.6rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .art-of-brewing{
        padding: 3rem 7% 2rem 7%;
    }
    .art-of-brewing #leaf-right{
        width: 160px;
    }
    .art-of-brewing #leaf-left{
        top: 22rem;
        left: -1rem;
        width: 130px;
    }
    .art-of-brewing .art-of-brewing-head h6{
        font-size: calc(1.9rem + 0.5vw);
    }
    .art-of-brewing .art-of-brewing-head p{
        font-size: calc(0.7rem + 0.5vw);
        margin-top: 1.6rem;
    }

    .brew-tabbing{
        margin-top: 1.6rem;
    }
    .brew-tabbing .tab-head{
        gap: 3.6rem;
    }
    .brew-tabbing .nav-link{
        font-size: calc(1.1rem + 0.5vw);
    }
    .brew-tabbing .nav-item .nav-link.active::after {
        height: 1.8px;
    }
    .brew-tabbing .tab-content {
        margin-top: 4rem;
    }

    .brew-timeline .curvy-line img{
        margin-left: 4rem;
        margin-top: 2rem;
    }

    .timeline-content .box{
        gap: 1.6rem;
        margin-bottom: 4rem;
    }
    .timeline-content .box img{
        width: 75px;
    }
    .timeline-content .box span{
        font-size: calc(1.1rem + 0.5vw);
    }
    .timeline-content .box p{
        font-size: calc(0.5rem + 0.5vw);
        margin-top: 0.5rem;
    }

    /* Cold */
    .timeline-content #cold-box-3{
        margin-left: 36.5%;
    }
    .timeline-content #cold-box-4{
        margin-right: 36%;
    }
}

@media screen and (max-width: 768px) {
    .art-of-brewing{
        padding: 0 1rem 2rem 1rem;
    }
    .art-of-brewing #leaf-right{
        top: -7rem;
        width: 90px;
    }
    .art-of-brewing #leaf-left{
        top: 14rem;
        left: -1rem;
        width: 70px;
    }
    .art-of-brewing .art-of-brewing-head h6{
        font-size: calc(1.4rem + 0.5vw);
    }
    .art-of-brewing .art-of-brewing-head p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 1rem;
        width: 100%;
    }

    .brew-tabbing{
        margin-top: 1rem;
    }
    .brew-tabbing .tab-head{
        gap: 0.2rem;
    }
    .brew-tabbing .nav-link{
        font-size: calc(1rem + 0.5vw);
    }
    .brew-tabbing .nav-link span{
        display: none;
    }
    .brew-tabbing .tab-content {
        margin-top: 2.5rem;
    }

    .brew-timeline .curvy-line{
        display: none;
    }

    .timeline-content .box{
        width: 100%;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    .timeline-content .box:nth-child(even){
        flex-direction: row;
        text-align: left;
    }
    .timeline-content .box .box-image{
        width: 17%;
    }
    .timeline-content .box img{
        width: 100%;
    }
    .timeline-content .box .box-content{
        width: 80%;
    }
    #cold-timeline-content .box .box-content{
        width: 80%;
    }
    .timeline-content .box span{
        font-size: calc(1rem + 0.5vw);
    }
    .timeline-content .box p{
        font-size: calc(0.8rem + 0.5vw);
        margin-top: 0.5rem;
    }
    .timeline-content .box p br{
        display: none;
    }

    /* Hot */
    .timeline-content #hot-box-1{
        margin-left: 0;
    }
    .timeline-content #hot-box-2{
        margin-right: 0;
    }
    .timeline-content #hot-box-3{
        margin-left: 0;
    }
    .timeline-content #hot-box-4{
        margin-right: 0;
    }
    .timeline-content #hot-box-5{
        margin-left: 0;
    }
    .timeline-content #hot-box-6{
        margin-right: 0;
    }

    /* Cold */
    .timeline-content #cold-box-1{
        margin-left: 0;
    }
    .timeline-content #cold-box-2{
        margin-right: 0;
    }
    .timeline-content #cold-box-3{
        margin-left: 0;
    }
    .timeline-content #cold-box-4{
        margin-right: 0;
    }
    .timeline-content #cold-box-5{
        margin-left: 0;
    }
}