.vision-mission{
    background-color: #f2eadf;
    padding: 1.5rem 7% 4rem 7%;
}
.vision-mission-tabs{
    display: flex;
    justify-content: center;
    gap: 20rem;
    margin-bottom: 2.5rem;
}
.vision-mission-tabs span{
    color: #8e2f2d;
    font-size: calc(1.5rem + 0.5vw);
    font-family: "IvyOra", sans-serif !important;
    cursor: pointer;
    font-weight: 550;
    position: relative;
}
.vision-mission-tabs span.active::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2.5px;
    background-color: #8e2f2d;
}
.vm-slide{
    display: flex;
    justify-content: space-between;
}
.vm-slide .slide-image{
    width: 45%;
    display: flex;
    justify-content: right;
    position: relative;
}
.vm-slide .slide-image img{
    width: 80%;
    aspect-ratio: 3/3.5;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
.vm-slide .slide-image .layer{
    width: 70%;
    height: 80%;
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    background-color: #d6ad58;
}
.vm-slide .slide-content{
    width: 45%;
    padding-right: 10rem;
}
.vm-slide span{
    color: #8e2f2d;
    font-size: calc(1.5rem + 0.5vw);
    font-family: "IvyOra", sans-serif !important;
    font-weight: 550;
    display: block;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.vm-slide p{
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.5rem;
    color: #000;
}

.swiper-pagination{
    margin-top: 4rem;
    position: relative !important;
}
.swiper-pagination-bullet {
    background: grey !important;
    opacity: 0.55;
    width: 15px;
    height: 15px;
    margin: 0 7px !important;
}
.swiper-pagination-bullet-active {
    background: rgb(69, 69, 69) !important;
    opacity: 1;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .vision-mission{
        padding: 0.5rem 7% 3.5rem 7%;
    }
    .vision-mission-tabs{
        gap: 18rem;
        margin-bottom: 2.3rem;
    }
    .vision-mission-tabs span{
        font-size: calc(1.3rem + 0.5vw);
    }
    .vision-mission-tabs span.active::after{
        height: 2px;
    }
    .vm-slide .slide-image .layer{
        right: -0.8rem;
        bottom: -0.8rem;
    }
    .vm-slide .slide-content{
        padding-right: 9rem;
    }
    .vm-slide span{
        font-size: calc(1.3rem + 0.5vw);
        margin-top: 4.5rem;
        margin-bottom: 1.8rem;
    }
    .vm-slide p{
        font-size: calc(0.65rem + 0.5vw);
        margin-top: 1.3rem;
    }

    .swiper-pagination{
        margin-top: 3.5rem;
    }
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        margin: 0 6px !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .vision-mission{
        padding: 0.5rem 7% 3.5rem 7%;
    }
    .vision-mission-tabs{
        gap: 16rem;
        margin-bottom: 2.3rem;
    }
    .vision-mission-tabs span{
        font-size: calc(1.2rem + 0.5vw);
    }
    .vision-mission-tabs span.active::after{
        height: 2px;
    }
    .vm-slide .slide-image .layer{
        right: -0.7rem;
        bottom: -0.7rem;
    }
    .vm-slide .slide-content{
        padding-right: 8rem;
    }
    .vm-slide span{
        font-size: calc(1.2rem + 0.5vw);
        margin-top: 5rem;
        margin-bottom: 1.5rem;
    }
    .vm-slide p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 1.2rem;
    }

    .swiper-pagination{
        margin-top: 3rem;
    }
    .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
        margin: 0 5px !important;
    }
}

@media screen and (max-width: 768px) {
    .vision-mission{
        padding: 1rem 1rem 4rem 1rem;
    }
    .vision-mission-tabs{
        gap: 4rem;
        margin-bottom: 2.5rem;
    }
    .vision-mission-tabs span{
        font-size: calc(1.4rem + 0.5vw);
    }
    .vision-mission-tabs span.active::after{
        bottom: -2.5px;
        height: 2px;
    }
    .vm-slide{
        flex-wrap: wrap;
    }
    .vm-slide .slide-image{
        width: 100%;
    }
    .vm-slide .slide-image img{
        width: 100%;
    }
    .vm-slide .slide-image .layer{
        display: none;
    }
    .vm-slide .slide-content{
        width: 100%;
        padding-right: 0;
    }
    .vm-slide span{
        font-size: calc(1.4rem + 0.5vw);
        margin-top: 1.5rem;
        margin-bottom: 1.3rem;
    }
    .vm-slide p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.3rem;
    }

    .swiper-pagination{
        margin-top: 2rem;
    }
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
    }
}