.home-about-us{
    padding: 4rem 7% 4rem 7%;
    background-color: #f2eade;
}
.home-about-us h6{
    font-size: calc(2.3rem + 0.5vw);
    color: #000;
    text-align: center;
}
.home-about-us .about-us-image-row{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.home-about-us .about-us-image-row img{
    width: 30%;
    transition: all 0.5s ease;
}
.home-about-us .about-us-image-row img:hover{
    scale: 1.04;
}
.home-about-us .about-us-image-row img:nth-child(2){
    scale: 1.13;
}
.home-about-us .about-us-image-row img:nth-child(2):hover{
    scale: 1.17;
}
.home-about-us p{
    font-size: calc(0.8rem + 0.5vw);
    color: #000;
    margin: 5rem auto 0;
    line-height: 1.6;
    width: 55%;
    text-align: center;
    font-family: "IvyOra", sans-serif !important;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .home-about-us{
        padding: 3.5rem 7% 3.5rem 7%;
    }
    .home-about-us h6{
        font-size: calc(2.1rem + 0.5vw);
    }
    .home-about-us .about-us-image-row{
        margin-top: 4.5rem;
    }
    .home-about-us p{
        font-size: calc(0.75rem + 0.5vw);
        margin: 4.5rem auto 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .home-about-us{
        padding: 3rem 7% 3rem 7%;
    }
    .home-about-us h6{
        font-size: calc(1.9rem + 0.5vw);
    }
    .home-about-us .about-us-image-row{
        margin-top: 4rem;
    }
    .home-about-us p{
        font-size: calc(0.7rem + 0.5vw);
        margin: 4rem auto 0;
    }
}

@media screen and (max-width: 768px) {
    .home-about-us{
        padding: 3rem 1rem 2rem 1rem;
    }
    .home-about-us h6{
        font-size: calc(1.7rem + 0.5vw);
    }
    .home-about-us .about-us-image-row{
        margin-top: 2.5rem;
    }
    .home-about-us .about-us-image-row img{
        width: 30.5%;
    }
    .home-about-us p{
        font-size: calc(0.95rem + 0.5vw);
        margin: 2.5rem auto 0;
        width: 100%;
    }
}