.brew-serves-row{
    margin-top: 3rem;
}
.serve-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.serve-box:last-child{
    margin-bottom: 0;
}
.serve-box:nth-child(even){
    flex-direction: row-reverse;
}
.serve-box-content{
    width: 50%;
}
.serve-box-content span{
    display: block;
    font-size: calc(1.6rem + 0.5vw);
    color: #8e2f2d;
    font-family: "IvyOra", sans-serif !important;
}
.serve-box-content .recipe-count{
    font-size: calc(1.7rem + 0.5vw);
    margin-bottom: 1rem;
}
.serve-box-content p{
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 500;
    color: #000;
    margin-top: 1rem;
}
.serve-box-content .method{
    margin-top: 3rem;
}
.serve-box-image{
    width: 45%;
}
.serve-box-image img{
    width: 100%;
}