.brew-serves-row{
    overflow: hidden;
}
.serve-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 7%;
    position: relative;
}
.serve-box:last-child{
    margin-bottom: 0;
}
.serve-box:nth-child(even){
    flex-direction: row-reverse;
}
.serve-box-content{
    width: 50%;
    z-index: 1;
}
.serve-box-content span{
    display: block;
    font-size: calc(1.6rem + 0.5vw);
    color: #8e2f2d;
    font-family: "IvyOra", sans-serif !important;
}
.serve-box-content .recipe-count{
    font-size: calc(1.7rem + 0.5vw);
    margin-bottom: 1rem;
}
.serve-box-content p{
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 500;
    color: #000;
    margin-top: 1rem;
}
.serve-box-content .method{
    margin-top: 3rem;
}
.serve-box-image{
    width: 45%;
    z-index: 1;
}
.serve-box-image img{
    width: 100%;
}

.serve-box .serve-box-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.serve-box .serve-box-bg img{
    width: 100%;
}

/* Hot Brew Background Adjustments */
#hot-serve-box-1 .serve-box-bg img{
    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(255, 255, 255, 0.788) 20%,
        rgba(255, 255, 255, 0.788) 80%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        rgb(255, 255, 255, 0.788) 20%,
        rgb(255, 255, 255, 0.788) 80%,
        transparent 100%
    );
}

#hot-serve-box-2 .serve-box-bg{
    justify-content: flex-end;
    top: 50%;
}
#hot-serve-box-2 .serve-box-bg img{
    width: 50%;
}

#hot-serve-box-4 .serve-box-bg img{
    width: 60%;
}

#hot-serve-box-5 .serve-box-bg{
    justify-content: flex-end;
}
#hot-serve-box-5 .serve-box-bg img{
    width: 60%;
}