.checkout{
    padding: 4rem 7% 5.5rem 7%;
    background-color: #f4f8e1;
}
.checkout-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.checkout-form,
.checkout-summary{
    background: #fff;
    padding: 1.7rem 2rem 2.5rem 2rem;
    border-radius: 15px;
    width: 49%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: max-content;
}
.checkout-form h1,
.checkout-summary h2{
    font-size: calc(1.4rem + 0.5vw);
    color: #8e2f2d;
    margin-bottom: 2rem;
}
.checkout-form input{
    width: 100%;
    padding: 0.8rem 0.9rem;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: calc(0.55rem + 0.5vw);
    color: #002c5b;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.checkout-form input:focus{
    box-shadow: #8e2f2d81 0px 1px 3px 0px, #8e2f2d81 0px 0px 0px 1px;
}
.checkout-form .input-row{
    display: flex;
    gap: 1rem;
}
.address-type{
    margin-top: 0.5rem;
}
.address-type label{
    display: block;
    margin-bottom: 0.8rem;
    font-size: calc(0.55rem + 0.5vw);
    color: #002c5b;
    font-weight: 500;
}
.address-options{
    display: flex;
    gap: 1rem;
}
.address-options button{
    padding: 0.4rem 1.2rem;
    border-radius: 30px;
    border: 1px solid #8e2f2d;
    background: transparent;
    color: #8e2f2d;
    cursor: pointer;
    font-size: calc(0.43rem + 0.5vw);
}
.address-options button.active{
    background: #8e2f2d;
    color: #fff;
}

.checkout-summary .checkout-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.checkout-summary .checkout-item .checkout-item-image{
    width: 20%;
}
.checkout-summary .checkout-item .checkout-item-image img{
    width: 100%;
    scale: 1.1;
}
.checkout-summary .checkout-item .checkout-item-desc{
    width: 58%;
}
.product-name{
    font-weight: 600;
    font-size: calc(0.65rem + 0.5vw);
    color: #000;
    margin-bottom: 0.2rem;
}
.variant{
    font-size: calc(0.55rem + 0.5vw);
}
.qty-box{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.qty-box button{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background: #8e2f2d;
    color: #fff;
    font-size: calc(0.2rem + 0.5vw);
}
.qty-box span{
    font-size: calc(0.5rem + 0.5vw);
}

.checkout-coupon{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.checkout-coupon input{
    width: 79%;
    padding: 0.8rem 0.9rem;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: calc(0.55rem + 0.5vw);
    color: #002c5b;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.checkout-coupon input:focus{
    box-shadow: #8e2f2d81 0px 1px 3px 0px, #8e2f2d81 0px 0px 0px 1px;
}
.checkout-coupon button{
    width: 18%;
    border-radius: 6px;
    font-size: calc(0.55rem + 0.5vw);
    border: none;
    background-color: #8e2f2d;
    color: #fff;
    padding: 0.8rem 0;
}
.checkout-coupon button:hover{
    background-color: #7a1f1e;
}

/* .checkout-summary h3{
    text-align: end;
    font-size: calc(1.2rem + 0.5vw);
    color: #000;
    margin-top: 2rem;
} */
.checkout-summary .checkout-summary-final{
    margin-top: 2rem;
}
.checkout-summary .checkout-summary-final div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.checkout-summary .checkout-summary-final span{
    font-size: calc(0.6rem + 0.5vw);
    color: #4d4d4d;
    font-family: "IvyOra", sans-serif !important;
}
.checkout-summary .checkout-summary-final .checkout-final span{
    color: #000;
    font-size: calc(1rem + 0.5vw);
}

.checkout-btn{
    width: 100%;
    padding: 0.8rem;
    background: #8e2f2d;
    color: #fff;
    border: none;
    border-radius: 30px;
    margin-top: 1.2rem;
    font-size: calc(0.57rem + 0.5vw);
    cursor: pointer;
}
.checkout-btn:hover{
    background: #7a1f1e;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .checkout{
        padding: 4.5rem 7% 5rem 7%;
    }
    .checkout-form,
    .checkout-summary{
        padding: 1.5rem 2.3rem 2.3rem 2.3rem;
    }
    .checkout-form h1,
    .checkout-summary h2{
        font-size: calc(1.3rem + 0.5vw);
        margin-bottom: 1.7rem;
    }
    .checkout-form input{
        padding: 0.7rem 0.8rem;
        margin-bottom: 0.95rem;
        font-size: calc(0.5rem + 0.5vw);
    }
    .checkout-form .input-row{
        gap: 0.95rem;
    }
    .address-type{
        margin-top: 0.4rem;
    }
    .address-type label{
        margin-bottom: 0.7rem;
        font-size: calc(0.5rem + 0.5vw);
    }
    .address-options{
        gap: 0.9rem;
    }
    .address-options button{
        padding: 0.37rem 1.2rem;
        font-size: calc(0.4rem + 0.5vw);
    }

    .checkout-summary img{
        margin-top: -0.9rem;
    }
    .product-name{
        font-size: calc(0.7rem + 0.5vw);
    }
    .qty-box{
        gap: 1rem;
        margin: 1.1rem 0;
    }
    .qty-box button{
        width: 30px;
        height: 30px;
        font-size: calc(0.35rem + 0.5vw);
    }
    .variant{
        font-size: calc(0.55rem + 0.5vw);
    }
    .checkout-summary h3{
        font-size: calc(1.2rem + 0.5vw);
        margin-top: 1.2rem;
    }
    .checkout-btn{
        padding: 0.7rem;
        margin-top: 1.1rem;
        font-size: calc(0.52rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .checkout{
        padding: 4rem 7% 4.5rem 7%;
    }
    .checkout-form,
    .checkout-summary{
        padding: 1.3rem 2.1rem 2.1rem 2.1rem;
    }
    .checkout-form h1,
    .checkout-summary h2{
        font-size: calc(1.1rem + 0.5vw);
        margin-bottom: 1.5rem;
    }
    .checkout-form input{
        padding: 0.65rem 0.75rem;
        margin-bottom: 0.9rem;
        font-size: calc(0.45rem + 0.5vw);
        border-radius: 5px;
    }
    .checkout-form .input-row{
        gap: 0.9rem;
    }
    .address-type{
        margin-top: 0.4rem;
    }
    .address-type label{
        margin-bottom: 0.7rem;
        font-size: calc(0.47rem + 0.5vw);
    }
    .address-options{
        gap: 0.8rem;
    }
    .address-options button{
        padding: 0.32rem 1rem;
        font-size: calc(0.38rem + 0.5vw);
    }

    .checkout-summary img{
        margin-top: -0.7rem;
    }
    .product-name{
        font-size: calc(0.65rem + 0.5vw);
    }
    .qty-box{
        gap: 0.9rem;
        margin: 0.9rem 0;
    }
    .qty-box button{
        width: 27px;
        height: 27px;
        font-size: calc(0.25rem + 0.5vw);
    }
    .variant{
        font-size: calc(0.55rem + 0.5vw);
    }
    .checkout-summary h3{
        font-size: calc(1.1rem + 0.5vw);
        margin-top: 1rem;
    }
    .checkout-btn{
        padding: 0.6rem;
        margin-top: 0.8rem;
        font-size: calc(0.45rem + 0.5vw);
    }
}

@media screen and (max-width: 768px) {
    .checkout{
        padding: 2.2rem 1rem 4rem 1rem;
    }
    .checkout-wrapper{
        flex-direction: column-reverse;
        gap: 1.2rem;
    }
    .checkout-form,
    .checkout-summary{
        padding: 1.2rem 1rem 1.6rem 1rem;
        border-radius: 8px;
        width: 100%;
    }
    .checkout-summary{
        padding: 1.2rem 1rem 0.5rem 1rem;
    }
    .checkout-form h1,
    .checkout-summary h2{
        font-size: calc(1.4rem + 0.5vw);
        margin-bottom: 1.8rem;
    }
    .checkout-form input{
        border-radius: 5px;
        font-size: calc(0.9rem + 0.5vw);
    }
    .checkout-form .input-row{
        flex-direction: column;
        gap: 0;
    }
    .address-type{
        margin-top: 0.3rem;
    }
    .address-type label{
        margin-bottom: 0.7rem;
        font-size: calc(0.9rem + 0.5vw);
    }
    .address-options{
        gap: 0.6rem;
    }
    .address-options button{
        padding: 0.37rem 1rem;
        font-size: calc(0.7rem + 0.5vw);
    }

    .checkout-summary img{
        width: 100%;
        margin-top: -1.2rem;
    }
    .product-name{
        font-size: calc(1.1rem + 0.5vw);
    }
    .qty-box{
        gap: 1.5rem;
        margin: 1.2rem 0;
    }
    .qty-box button{
        width: 31px;
        height: 31px;
        font-size: calc(0.7rem + 0.5vw);
    }
    .variant{
        font-size: calc(0.95rem + 0.5vw);
    }
    .checkout-summary h3{
        font-size: calc(1.5rem + 0.5vw);
        margin-top: 1rem;
    }
    .checkout-btn{
        padding: 0.65rem;
        margin-top: 0.85rem;
        font-size: calc(0.9rem + 0.5vw);
    }
}