.checkout{
    padding: 5rem 7% 5.5rem 7%;
    background-color: #f4f8e1;
}
.checkout-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.checkout-form,
.checkout-summary{
    background: #fff;
    padding: 1.7rem 2.5rem 2.5rem 2.5rem;
    border-radius: 15px;
    width: 47.5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.checkout-form h1,
.checkout-summary h2{
    font-size: calc(1.4rem + 0.5vw);
    color: #8e2f2d;
    margin-bottom: 2rem;
    text-align: center;
}
.checkout-form input{
    width: 100%;
    padding: 0.8rem 0.9rem;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: calc(0.55rem + 0.5vw);
    color: #002c5b;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.checkout-form input:focus{
    box-shadow: #8e2f2d81 0px 1px 3px 0px, #8e2f2d81 0px 0px 0px 1px;
}
.checkout-form .input-row{
    display: flex;
    gap: 1rem;
}
.address-type{
    margin-top: 0.5rem;
}
.address-type label{
    display: block;
    margin-bottom: 0.8rem;
    font-size: calc(0.55rem + 0.5vw);
    color: #002c5b;
    font-weight: 500;
}
.address-options{
    display: flex;
    gap: 1rem;
}
.address-options button{
    padding: 0.4rem 1.2rem;
    border-radius: 30px;
    border: 1px solid #8e2f2d;
    background: transparent;
    color: #8e2f2d;
    cursor: pointer;
    font-size: calc(0.43rem + 0.5vw);
}
.address-options button.active{
    background: #8e2f2d;
    color: #fff;
}

.checkout-summary img{
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: -1rem;
}
.product-name{
    text-align: center;
    font-weight: 600;
    font-size: calc(0.8rem + 0.5vw);
    color: #000;
}
.qty-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin: 1.3rem 0;
}
.qty-box button{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: #8e2f2d;
    color: #fff;
    font-size: calc(0.4rem + 0.5vw);
}
.price{
  font-size: calc(0.6rem + 0.5vw);
  text-align: center;
}
.checkout-summary h3{
  text-align: center;
  font-size: calc(1.3rem + 0.5vw);
  color: #000;
  margin-top: 1.2rem;
}
.checkout-btn{
  width: 100%;
  padding: 0.8rem;
  background: #8e2f2d;
  color: #fff;
  border: none;
  border-radius: 30px;
  margin-top: 1.2rem;
  font-size: calc(0.57rem + 0.5vw);
  cursor: pointer;
}
.checkout-btn:hover{
  background: #7a1f1e;
}
.terms{
  font-size: calc(0.3rem + 0.5vw);
  text-align: center;
  margin-top: 0.8rem;
}