/* Banner Slider Start */
.banner .swiper-slide{
    position: relative;
}
.banner .swiper-slide img{
    width: 100%;
    min-height: 90vh;
    object-fit: cover;
}
.banner .swiper-slide .slide-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.banner .swiper-slide .slide-content img{
    width: 250px;
    min-height: auto;
    margin-top: -3rem;
}
.banner .swiper-slide .slide-content h1{
    margin-top: 2rem;
    font-size: calc(2.3rem + 0.5vw);
}
.banner .swiper-slide .slide-content h2{
    font-size: calc(2.3rem + 0.5vw);
    text-transform: uppercase;
    text-align: center;
}
.banner .swiper-slide .slide-content .line{
    width: 120px;
    height: 3px;
    background-color: #fff;
    margin-top: 0.5rem;
    border-radius: 10px;
}
.banner .swiper-slide .slide-content p{
    font-size: calc(0.6rem + 0.5vw);
    width: 58%;
    text-align: center;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .banner .swiper-slide .slide-content img{
        width: 230px;
        margin-top: -2.5rem;
    }
    .banner .swiper-slide .slide-content h1{
        margin-top: 1.8rem;
        font-size: calc(2.1rem + 0.5vw);
    }
    .banner .swiper-slide .slide-content h2{
        font-size: calc(2.1rem + 0.5vw);
    }
    .banner .swiper-slide .slide-content .line{
        width: 110px;
        height: 2.5px;
        margin-top: 0.3rem;
    }
    .banner .swiper-slide .slide-content p{
        font-size: calc(0.55rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .banner .swiper-slide .slide-content img{
        width: 210px;
        margin-top: -2.5rem;
    }
    .banner .swiper-slide .slide-content h1{
        margin-top: 1.6rem;
        font-size: calc(1.9rem + 0.5vw);
    }
    .banner .swiper-slide .slide-content h2{
        font-size: calc(1.9rem + 0.5vw);
    }
    .banner .swiper-slide .slide-content .line{
        width: 100px;
        height: 2.5px;
        margin-top: 0.2rem;
    }
    .banner .swiper-slide .slide-content p{
        font-size: calc(0.5rem + 0.5vw);
    }
}
/* Banner Slider End */