/* Banner Slider Start */
.banner .swiper-slide{
    position: relative;
}
.banner .swiper-slide img{
    width: 100%;
}
.banner .swiper-slide .slide-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.banner .swiper-slide .slide-content img{
    width: 250px;
    margin-top: -3rem;
}
.banner .swiper-slide .slide-content h1{
    margin-top: 2rem;
    font-size: calc(2.3rem + 0.5vw);
}
.banner .swiper-slide .slide-content h2{
    font-size: calc(2.3rem + 0.5vw);
    text-transform: uppercase;
    text-align: center;
}
.banner .swiper-slide .slide-content .line{
    width: 120px;
    height: 3px;
    background-color: #fff;
    margin-top: 0.5rem;
    border-radius: 10px;
}
.banner .swiper-slide .slide-content p{
    font-size: calc(0.6rem + 0.5vw);
    width: 58%;
    text-align: center;
}
/* Banner Slider End */