/* Banner Start */
.banner{
    position: relative;
}
.banner img{
    width: 100%;
    min-height: 90vh;
    object-fit: cover;
}
.banner .banner-content{
    padding: 2rem 7% 5rem 7%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
}
.banner .banner-content h1{
    font-size: calc(2.3rem + 0.5vw);
}
.banner .banner-content p{
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 500;
    width: 40%;
    margin-top: 0.5rem;
}
/* Banner End */

/* Brew Serves Start */
.brew-serves{
    padding: 5rem 0;
    background-color: #f4f8e1;
}
.brew-serves-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brew-serves-head h2{
    font-size: calc(2.3rem + 0.5vw);
    color: #8e2f2d;
}
.brew-serves-head p{
    font-size: calc(2rem + 0.5vw);
    color: #002c5b;
    font-family: "IvyOra", sans-serif !important;
}
/* Brew Serves End */

/* Brew Serves Footer Start */
.brew-serves-footer{
    padding: 1rem 7% 5rem 7%;
    background-color: #f4f8e1;
    display: flex;
    justify-content: center;
}
.brew-serves-footer p{
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 500;
    color: #000;
    text-align: center;
    width: 70%;
    margin: 0;
}
/* Brew Serves Footer End */