/* Banner Start */
.sustainability-banner{
    position: relative;
}
.sustainability-banner img{
    width: 100%;
    min-height: 90vh;
    object-fit: cover;
}
.sustainability-banner .banner-content{
    padding: 2rem 7% 5.5rem 7%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
}
.sustainability-banner .banner-content h1{
    font-size: calc(2.3rem + 0.5vw);
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .sustainability-banner .banner-content{
        padding: 2rem 7% 5rem 7%;
    }
    .sustainability-banner .banner-content h1{
        font-size: calc(2.1rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .sustainability-banner .banner-content{
        padding: 2rem 7% 4.5rem 7%;
    }
    .sustainability-banner .banner-content h1{
        font-size: calc(1.9rem + 0.5vw);
    }
}

@media screen and (max-width: 768px) {
    .sustainability-banner #web-banner{
        display: none;
    }
    .sustainability-banner img{
        min-height: auto;
    }
    .sustainability-banner .banner-content{
        padding: 1.5rem 1rem 0.8rem 1rem;
    }
    .sustainability-banner .banner-content h1{
        font-size: calc(1.1rem + 0.5vw);
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .sustainability-banner #mobile-banner{
        display: none;
    }
}
/* Banner End */

/* Sustainability Start */
.sustainability{
    padding: 4rem 7% 0 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url('/images/our-products-bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.sustainability .layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent 50%, #fff 90%);
}
.sustainability .sus-left,
.sustainability .sus-right{
    width: 30%;
    z-index: 1;
}
.sustainability .sus-left{
    padding-top: 5rem;
}
.sustainability .sus-right{
    padding-top: 40%;
}
.sustainability .sus-center{
    width: 40%;
    z-index: 1;
}
.sustainability .sus-center img{
    width: 100%;
    margin-left: -4rem;
}
.sustainability p{
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 500;
    color: #8e2f2d;
    font-family: "IvyOra", sans-serif !important;
}
.sustainability .leaf{
    position: absolute;
}
.sustainability .leaf img{
    width: 100px;
}
.sustainability #left-leaf{
    left: 15%;
    top: 42%;
}
.sustainability #right-leaf{
    right: 23%;
    top: 22%;
    transform: rotate(25deg);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .sustainability{
        padding: 3.7rem 7% 0 7%;
    }
    .sustainability .sus-left{
        padding-top: 4.5rem;
    }
    .sustainability .sus-center img{
        margin-left: -3.5rem;
    }
    .sustainability p{
        font-size: calc(0.75rem + 0.5vw);
    }
    .sustainability .leaf img{
        width: 88px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .sustainability{
        padding: 3.5rem 7% 0 7%;
    }
    .sustainability .sus-left{
        padding-top: 4rem;
    }
    .sustainability .sus-center img{
        margin-left: -3rem;
    }
    .sustainability p{
        font-size: calc(0.7rem + 0.5vw);
    }
    .sustainability .leaf img{
        width: 77px;
    }
}

@media screen and (max-width: 768px) {
    .sustainability{
        padding: 2rem 1rem 0 1rem;
    }
    .sustainability .sus-left,
    .sustainability .sus-right{
        width: 100%;
        z-index: 1;
    }
    .sustainability .sus-left{
        padding-top: 0;
    }
    .sustainability .sus-right{
        padding-top: 0;
        margin-top: -6rem;
        text-align: end;
    }
    .sustainability .sus-center{
        width: 100%;
    }
    .sustainability .sus-center img{
        margin-left: -2.5rem;
        margin-top: 1rem;
    }
    .sustainability p{
        font-size: calc(1rem + 0.5vw);
    }
    .sustainability .leaf img{
        width: 30px;
    }
    .sustainability #left-leaf{
        left: 10%;
        top: 53%;
    }
    .sustainability #right-leaf{
        right: 15%;
        top: 30%;
    }
}
/* Sustainability End */

/* Sustainability Foot Start */
.sustainability-foot{
    padding: 0 7% 5rem 7%;
    margin-top: -6rem;
    position: relative;
    z-index: 1;
}
.sustainability-foot p{
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 500;
    color: #000;
    text-align: center;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .sustainability-foot{
        padding: 0 7% 4.5rem 7%;
        margin-top: -5.5rem;
    }
    .sustainability-foot p{
        font-size: calc(0.65rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .sustainability-foot{
        padding: 0 7% 4rem 7%;
        margin-top: -5rem;
    }
    .sustainability-foot p{
        font-size: calc(0.6rem + 0.5vw);
    }
}

@media screen and (max-width: 768px) {
    .sustainability-foot{
        padding: 0 1rem 3.5rem 1rem;
        margin-top: 1.5rem;
    }
    .sustainability-foot p{
        font-size: calc(0.9rem + 0.5vw);
    }
}
/* Sustainability Foot End */