.product-cup{
    padding: 1rem 7% 5rem 7%;
    background-color: #f4f8e1;
}
.product-cup .product-cup-head{
    text-align: center;
}
.product-cup .product-cup-head h2{
    font-size: calc(1.5rem + 0.5vw);
    color: #8e2f2d;
    font-family: "IvyOra", sans-serif !important;
    text-transform: uppercase;
}
.product-cup .product-cup-head p{
    font-size: calc(1.5rem + 0.5vw);
    color: #002c5b;
    font-family: "IvyOra", sans-serif !important;
    margin-top: 1rem;
}
.product-cup .product-cup-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.product-cup .product-cup-row .product-cup-content{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}
.product-cup .product-cup-row .product-cup-content img{
    width: 80px;
}
.product-cup .product-cup-row .product-cup-content span{
    color: #000;
    font-family: "IvyOra", sans-serif !important;
    font-size: calc(0.75rem + 0.5vw);
}
.product-cup .product-cup-row #product-cup-content-right{
    justify-content: start;
    padding-top: 2rem;
}
.product-cup .product-cup-row #product-cup-content-left{
    align-items: flex-end;
}
.product-cup .product-cup-row #product-cup-content-right img{
    transform: rotate(180deg);
}
.product-cup .product-cup-row #product-cup-content-left img{
    margin-top: 3rem;
}

.product-cup .product-cup-row .product-cup-image{
    width: 30%;
}
.product-cup .product-cup-row .product-cup-image img{
    width: 100%;
}

.product-cup .product-cup-foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.product-cup .product-cup-foot span{
    font-size: calc(1.5rem + 0.5vw);
    color: #002c5b;
    font-family: "IvyOra", sans-serif !important;
}
.product-cup .product-cup-foot p{
    color: #000;
    font-size: calc(0.65rem + 0.5vw);
    text-align: center;
    width: 53%;
    margin-top: 1rem;
}