footer{
    background-color: #d4aa51;
}
.footer-content{
    padding: 3.5rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-content .footer-box:nth-child(1){
    width: 40%;
}
.footer-content .footer-box:nth-child(2){
    width: 15%;
}
.footer-content .footer-box:nth-child(3){
    width: 20%;
}
.footer-content img{
    width: 250px;
}
.footer-content .social-icons{
    display: flex;
    gap: 2.9rem;
    margin-top: 2rem;
}
.footer-content .social-icons .icon{
    font-size: calc(1.2rem + 0.5vw);
    transition: all 0.2s ease;
}
.footer-content .social-icons .icon:hover{
    transform: translateY(-3px);
}
.footer-content span{
    font-size: calc(1.1rem + 0.5vw);
    font-family: "IvyOra", sans-serif !important;
    font-weight: 600;
    display: block;
    margin-bottom: 1rem;
    color: #000;
}
.footer-content a{
    font-size: calc(0.6rem + 0.5vw);
    display: block;
    color: #000;
    margin-bottom: 0.5rem;
    text-decoration: none;
    transition: all 0.2s ease;
}
.footer-content a:hover{
    text-decoration: underline;
}
footer .copyright{
    padding: 1rem 7%;
    border-top: 1px solid #000;
}
footer .copyright p{
    font-size: calc(0.5rem + 0.5vw);
    text-align: center;
    color: #000;
    margin: 0;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .footer-content{
        padding: 3rem 7%;
    }
    .footer-content img{
        width: 225px;
    }
    .footer-content .social-icons{
        gap: 2.7rem;
        margin-top: 1.9rem;
    }
    .footer-content .social-icons .icon{
        font-size: calc(1.1rem + 0.5vw);
    }
    .footer-content span{
        font-size: calc(1rem + 0.5vw);
        margin-bottom: 0.9rem;
    }
    .footer-content a{
        font-size: calc(0.55rem + 0.5vw);
        margin-bottom: 0.48rem;
    }
    footer .copyright{
        padding: 0.9rem 7%;
    }
    footer .copyright p{
        font-size: calc(0.45rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .footer-content{
        padding: 2.5rem 7%;
    }
    .footer-content img{
        width: 200px;
    }
    .footer-content .social-icons{
        gap: 2.3rem;
        margin-top: 1.8rem;
    }
    .footer-content .social-icons .icon{
        font-size: calc(1rem + 0.5vw);
    }
    .footer-content span{
        font-size: calc(0.9rem + 0.5vw);
        margin-bottom: 0.8rem;
    }
    .footer-content a{
        font-size: calc(0.5rem + 0.5vw);
        margin-bottom: 0.45rem;
    }
    footer .copyright{
        padding: 0.8rem 7%;
    }
    footer .copyright p{
        font-size: calc(0.4rem + 0.5vw);
    }
}