.ultimate-beverage{
    padding: 2rem 7% 4rem 7%;
    /* padding: 2rem 7% 30rem 7%; */
    background: #f4f8e1;
    position: relative;
}
.ultimate-beverage h4{
    font-size: calc(2.3rem + 0.5vw);
    text-align: center;
    color: #8e2f2d;
    margin-bottom: 3rem;
}
.ultimate-beverage .beverage-box{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 3rem;
}
.ultimate-beverage .beverage-box img{
    width: 70px;
}
.ultimate-beverage .beverage-box span{
    font-size: calc(1.1rem + 0.5vw);
    color: #8e2f2d;
    font-family: "IvyOra", sans-serif;
    display: block;
    margin-top: 0.7rem;
}
.ultimate-beverage .beverage-box ul{
    margin-top: 1rem;
    font-family: "IvyOra", sans-serif;
}
.ultimate-beverage .beverage-box li{
    font-size: calc(0.6rem + 0.5vw);
    color: #002c5b;
    margin-top: 3px;
}
/* .ultimate-beverage #beverage-bg{
    width: 100%;
    position: absolute;
    top: -80%;
    left: 0;
} */

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .ultimate-beverage{
        padding: 1.5rem 7% 3.5rem 7%;
    }
    .ultimate-beverage h4{
        font-size: calc(2.1rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .ultimate-beverage{
        padding: 1rem 7% 3rem 7%;
    }
    .ultimate-beverage h4{
        font-size: calc(1.9rem + 0.5vw);
    }
}

@media screen and (max-width: 768px) {
    .ultimate-beverage{
        padding: 1.5rem 1rem 3rem 1rem;
        background: linear-gradient(to bottom, #f2eadf 50%, #f5efe3);
    }
    .ultimate-beverage h4{
        font-size: calc(1.4rem + 0.5vw);
    }
}