.ultimate-beverage{
    padding: 4rem 7% 28rem 7%;
    background: #f4f8e1;
    position: relative;
}
.ultimate-beverage h6{
    font-size: calc(2.3rem + 0.5vw);
    text-align: center;
    color: #8e2f2d;
    margin-bottom: 3rem;
}
.ultimate-beverage .beverage-box{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 3rem;
}
.ultimate-beverage .beverage-box img{
    width: 70px;
}
.ultimate-beverage .beverage-box span{
    font-size: calc(1.1rem + 0.5vw);
    color: #8e2f2d;
    font-family: "IvyOra", sans-serif;
    display: block;
    margin-top: 0.7rem;
}
.ultimate-beverage .beverage-box ul{
    margin-top: 1rem;
    font-family: "IvyOra", sans-serif;
}
.ultimate-beverage .beverage-box li{
    font-size: calc(0.6rem + 0.5vw);
    color: #002c5b;
    margin-top: 3px;
}

.ultimate-beverage #beverage-bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(255, 255, 255, 0.788) 20%,
        rgba(255, 255, 255, 0.788) 80%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        rgb(255, 255, 255, 0.788) 20%,
        rgb(255, 255, 255, 0.788) 80%,
        transparent 100%
    );
}


@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .ultimate-beverage{
        padding: 3.5rem 7% 25rem 7%;
    }
    .ultimate-beverage h6{
        font-size: calc(2.1rem + 0.5vw);
    }
    .ultimate-beverage .beverage-box{
        gap: 1.3rem;
        margin-bottom: 2.8rem;
    }
    .ultimate-beverage .beverage-box img{
        width: 65px;
    }
    .ultimate-beverage .beverage-box span{
        font-size: calc(1rem + 0.5vw);
        margin-top: 0.6rem;
    }
    .ultimate-beverage .beverage-box ul{
        margin-top: 0.9rem;
    }
    .ultimate-beverage .beverage-box li{
        font-size: calc(0.55rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .ultimate-beverage{
        padding: 3rem 7% 21rem 7%;
    }
    .ultimate-beverage h6{
        font-size: calc(1.9rem + 0.5vw);
    }
    .ultimate-beverage .beverage-box{
        gap: 1.2rem;
        margin-bottom: 2.5rem;
    }
    .ultimate-beverage .beverage-box img{
        width: 60px;
    }
    .ultimate-beverage .beverage-box span{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.55rem;
    }
    .ultimate-beverage .beverage-box ul{
        margin-top: 0.85rem;
    }
    .ultimate-beverage .beverage-box li{
        font-size: calc(0.5rem + 0.5vw);
    }
}

@media screen and (max-width: 768px) {
    .ultimate-beverage{
        padding: 1.5rem 1rem 4rem 1rem;
    }
    .ultimate-beverage h6{
        font-size: calc(1.4rem + 0.5vw);
    }
    .ultimate-beverage .beverage-box{
        gap: 0.8rem;
        margin-bottom: 1rem;
    }
    .ultimate-beverage .beverage-box img{
        width: 50px;
    }
    .ultimate-beverage .beverage-box span{
        font-size: calc(1.1rem + 0.5vw);
        margin-top: 0.5rem;
    }
    .ultimate-beverage .beverage-box ul{
        margin-top: 0.5rem;
    }
    .ultimate-beverage .beverage-box li{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 5px;
    }

    .ultimate-beverage #beverage-bg {
        display: none;
    }
}