*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: unset !important;
}

/* IvyOra Text Medium */
@font-face {
    font-family: "IvyOra";
    src: url("./assets/fonts/IvyOraText-Medium.woff2") format("woff2");
}

/* Mont Regular */
@font-face {
    font-family: "Mont";
    src: url("./assets/fonts/Mont-Regular.woff2") format("woff2");
}

body{
    font-family: "Mont", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "IvyOra", sans-serif !important;
}
